<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selwan.schools365teacher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.examination.view_mark.ExaminationViewMarkActivity"></activity>
        <activity android:name=".ui.examination.main.ExaminationMainActivity" />
        <activity android:name=".ui.examination.add_new_exam.AddNewExamActivity" />
        <activity android:name=".ui.examination.tabs.ExamTabsActivity" />
        <activity
            android:name=".ui.examination.tabs.ExaminationActivity"
            android:label="@string/title_activity_examination"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.homework.add_new.HomeworkAddNewActivity" />
        <activity android:name=".ui.homework.main.HomeworkMainActivity" />
        <activity android:name=".ui.communication.add_new.CommunicationAddNewActivity" />
        <activity
            android:name=".ui.timetable.tabs_day.TimetableTabsdayActivity"
            android:label="@string/title_activity_timetable_tabsday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.attendance.student.main.AttendanceStudentMainActivity" />
        <activity android:name=".ui.attendance.report.report_info.overview.AttendanaceReportInfoActivity" />
        <activity android:name=".ui.attendance.report.main.AttendanceReportMainActivity" />
        <activity android:name=".ui.attendance.date.main.AttendeneceDateMainActivity" />
        <activity android:name=".ui.attendance.student.rec.AttendanceStudentRecActivity" />
        <activity android:name=".ui.attendance.report.rec.AttendanceReportRecActivity" />
        <activity android:name=".ui.attendance.date.rec.AttendanceDateRecActivity" />
        <activity android:name=".ui.student_details.student_details_info.StudentDetailsInfoActivity" />
        <activity android:name=".ui.student_details.recyclerview_student_details.RecyclerStudentDetailsActivity" />
        <activity android:name=".ui.fab.add_homework.AddHomeworkActivity" />
        <activity android:name=".ui.fab.add_exam.AddExamActivity" />
        <activity android:name=".ui.news.NewsActivity" />
        <activity android:name=".ui.communication.main.CommunicationNoticBoardActivity" />
        <activity android:name=".ui.attendance.AttendanceActivity" />
        <activity android:name=".ui.timetable.main.TimetableMainActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.student_details.StudentDetailsActivity" />
    </application>

</manifest>